:root{
	--main-bg:	#1d1f21;
	--main-fg:	#c6c8c6;
}
.main{
	display: grid;
	grid-template-rows: 100px auto;
	grid-template-areas: 'header' 'body';
}
.header{
	grid-area: header;
	
	display: flex;
	flex-direction: row wrap;
	align-items: center;
}
.header > * {
	padding: 10px;
}
.configuration-pane{
	grid-area: body;
}
.hardware-config {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-template-areas:
		'chan	etc'
		'chan	etc';
}
.channels {
	grid-area: chan;
}
.opt {
	display: flex;
	flex-flow: column;
	align-content: stretch;
	grid-area: etc;
}
.opt>*{
	width: 100%;
}
